#pip install -i https://pypi.tuna.tsinghua.edu.cn/simple -r py2-requirements.txt --user
pwntools
zio
z3
z3-solver
scrypt
pyrsistent==0.16.0
keystone
git+https://github.com/hellman/libnum.git@2af03e4e8efdae68a2bc5189ce8cf0f9113fc6fd
uncompyle
sympy
ansible
beautifulsoup4
capstone
gmpy
gmpy2
frida
frida-tools
tornado
requests
ROPgadget
Pillow
paramiko
ipython==7.16.3
pyMysql
unicorn
