#pip install -i https://pypi.tuna.tsinghua.edu.cn/simple py2-requirements.txt --user
pwntools
zio
z3
z3-solver
pyqt5
scrypt
keystone
git+https://github.com/hellman/libnum.git@master
uncompyle
sympy
ansible
beautifulsoup4
capstone
gmpy
gmpy2
frida
frida-tools
tornado
requests
ROPgadget
Pillow
paramiko
ipython=5.6.0
pyMysql
unicorn
